/* Global Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888c95;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888c95 #f1f1f1;
}

/* Ensure the body has the scrollbar style too */
html, body {
  scrollbar-width: thin;
  scrollbar-color: #888c95 #f1f1f1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}

.input-style {
  width: 100%;
  padding: 10px 10px 10px 2.5rem;
  background-color: #f5f3f3;
  border: 1px solid #f5f3f3;
  color: #000;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

.input-style:focus {
  border-color: #000;
}